.insta {
    position: relative;
    overflow: hidden;
    @include media-breakpoint-up(lg) {
        padding-top: 100px;
        padding-bottom: 50px;
    }
    @include media-breakpoint-up(xs) {
        padding-top: 50px;
        padding-bottom: 25px;
    }
    &__headings {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 40px;
    }
    &__link {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        a {
            display: flex;
            align-items: center;
            justify-content: center;
            color: $primary;
            font-weight: bold;
            img {
                margin-left: 8px;
            }
        }
    }
    &__group {
        position: relative;
        @include media-breakpoint-down(md) {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
        }
    }
    &__swiper {
        @include media-breakpoint-up(sm) {
            overflow: hidden;
        }
        @include media-breakpoint-down(md) {
            width: 100%;
        }
    }
    &__item {
        a {
            display: flex;
            align-items: center;
            position: relative;
            padding-top: 100%;
            img {
                position: absolute;
                height: 100%;
                width: 100%;
                inset: 0 0 0 0;
                object-fit: cover;
                object-position: center;
            }
        }
    }
    .swiper-prev-custom,
    .swiper-next-custom {
        position: absolute;
        top: 50%;
        margin-top: -21px;
        background-color: #E7E7E7;
        margin-left: 10px;
        @include media-breakpoint-up(lg) {
            height: 42px;
            width: 42px;
        }
        @include media-breakpoint-down(md) {
            height: 36px;
            width: 36px;
            position: relative;
            right: auto;
            left: auto;
            margin-top: 15px;
        }
    }
    .swiper-prev-custom {
        right: 100%;
        left: auto;
        margin-right: 10px;
        &:before {
            filter: invert(1);
        }
        @include media-breakpoint-down(md) {
            
        }
    }
    .swiper-next-custom {
        left: 100%;
    }
}
