.projects {
    @include media-breakpoint-up(lg) {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    @include media-breakpoint-up(xs) {
        padding-top: 25px;
        padding-bottom: 25px;
    }
    &__grid {
        display: grid;
        @include media-breakpoint-up(md) {
            grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
            gap: 22px;
        }
        @include media-breakpoint-down(sm) {
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            gap: 12px;
        }
        & > * {
            display: flex;
            align-items: stretch;
            justify-content: space-between;
            flex-direction: column;
        }
    }
    .btn-load-more {
        margin-top: 0;
    }
}
