// ================================================================================================================
//
// Vars
//
// ================================================================================================================
// ========================================================
// Grid variables
// ========================================================
$grid-columns: 12;
$grid-gutter-width: 30px;
$grid-breakpoints: ( xs: 0, sm: 576px, md: 768px, lg: 998px, xlg: 1300px, xl: 1450px);
$container-max-widths: ( sm: 540px, md: 720px, lg: 968px, xlg: 1260px, xl: 1440px);
// ========================================================
// Colors
// ========================================================
// White
$white: #ffffff;
$white-primary: #f4f4f4;
// Black
$black: #000;
// Primary
$primary: #4EBA45;
$primary-1: #F03636;
$primary-btn-hover: #5BCB51;

// Gray
$gray-primary: #e4e4e4;
$gray-secondary: #8a97a4;
// Other
$color-text: $black;

// ========================================================
// Transitions
// ========================================================
$trsn: all .4s ease;